doctype html
html
	head
		link(rel="stylesheet" type="text/css" href="/stylesheets/style.css")
		title #{title}

	body
		include vw-dashboard.pug

		form#imwGenerator(action='/imwGenerator/addNewProducts' method='POST' accept-charset="UTF-8")
			label.input-label-1(for='itemID') Item ID
			input#itemID.input-unit-1(type='text', placeholder='enter data1', name='itemIDPost', value='')

			label.input-label-1(for='suppUnitID') Supplier Unit ID
			input#suppUnitID.input-unit-1(type='text', placeholder='enter data1', name='suppUnitIDPost', value='')

			if imwProductVals !== undefined
				label.input-label-1(for='locStorAccumulator') Local Storage Accumulator
				input#locStorAccumulator.input-unit-1(type='text', placeholder='enter data1', name='locStorAccumulatorPost', value=imwProductVals)

			button#imwGeneratorBtn(type='submit', form='imwGenerator') Add Product(s) Accumulatively

		if imwProductVals !== undefined
			//- each thingy in imwProductVals
			//- 	p= thingy

			script.
				//- localStorage.clear()
				localStorage.setItem('imwProductVals_localStorage', {imwProductVals})
				console.log('localStorage from pug==>', localStorage)

		//- script(src='/jsModules_t0d/imwGenLocStorM0d.js')
